@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);


/*HOMEPAGE*/

.homepage {
	background: url(https://38.media.tumblr.com/776ce70362dc3ba9849a8dc298774527/tumblr_n0gopa2TBK1toamj8o1_500.gif);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 25%;
	/*background-color: black; */
}

.links {
	text-align: center; 
	font-family: 'Oleo Script'; 
}

.link {
	color: #FFFFFF;
	position: relative;
	margin-left: 20px;
	top: 0; 
	left: 0; 
	font-size: 1em; 
	text-decoration: none; 
	border-bottom: 2px solid;
}

.intro {
	color: #FFFFFF;
	text-align: center; 
	margin: 4em; 
	font-family: 'Oleo Script'; 
}

.hi {
	font-size: 8em; 
	text-align: center; 
	color: #FFFFFF; 
	font-family: 'Oleo Script'; 
	/*background-color: #ffdd00; */
	/*width: 2em;
	margin-left: auto; 
	margin-right: auto;*/
}

.icons {
	text-align: center; 
	margin: 1em;
}

.icon {
	height: 4em; 
	margin: 0.15em;
}

/*ABOUT*/

.about {
	text-align: center; 
	width: 100%;
	height: 40em;
	background-color: #0079BB; 
	opacity: 0.8;
	color: white;
	font-family: 'Raleway'; 
}

.me {
	margin-top: 8em;
	padding-top: 2em;
	font-family: 'Oleo Script'; 
}

.ani_pic {
	border: 7px solid white;
	border-radius: 50%;
	height: 10em; 
	width: 8em;
}

.homepage-link  {
	color: black;
}

.para {
	padding-left: 5em; 
	padding-right: 5em 
}

/*PROJECTS*/

.projects {
	text-align: center; 
	width: 100%;
	height: 40em;
	background-color: #0079BB; 
	opacity: 0.8;
	color: white;
	font-family: 'Raleway'; 
}

.pro {
	margin-top: 8em;
	padding-top: 2em;
	font-family: 'Oleo Script'; 

}

.project {
	height: 10em; 
	margin: 2em;
}

.project1 {
	float: left;
	margin: auto;
}

.project-link {
	text-decoration: none; 
	font-family: 'Oleo Script'; 
	color: white;
}

.column {
	float: left;
	width: 29%; 
	height: 100%;
	padding-right: 2%;	
	padding-left: 2%; 
}

.row {
	clear: both; 
}

#top {
	height: 4em;
	display: block;
  margin-left: auto;
  margin-right: auto; 
  cursor: pointer;
}

#thanks {
	text-align: center; 
	font-family: 'Oleo Script'; 
	font-size: 2em; 
	color: white;
}

/*CLIPS*/

.clips {
	text-align: center; 
	font-family: 'Raleway'; 
	background: url(../images/pattern.png);
	width: 100%;
	height: auto;
}

.container {
	background: #0079BB; 
	opacity: 0.9;
	width: 60%;
	margin-right: auto; 
	margin-left: auto; 
	margin-top: 2em; 
	margin-bottom: 2em; 
}

.clips-text {
	font-family: 'Oleo Script'; 
	padding-top: 1em; 
}

a {
	font-family: 'Oleo Script'; 
	text-decoration: none; 
	color: white;
}

.writing-home {
	color: black;
}