@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Chivo:900); 


/*HOMEPAGE*/

/*particles*/

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 200px; 
}

/*canvas {
  display: block;
  vertical-align: bottom;
}*/

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

/*name*/

.title {
  position: relative;
  color: #bc1326;
  padding: 20px 50px;
}
 
.title:before {
  background: #bc1326;
  color: white;
  content: 'ANILA ALEXANDER';
  overflow: hidden;
  position: absolute;  
  top: 0;  
  left: 0;
  padding: 20px 50px;
    -webkit-clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);  
  clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
  animation: slide 4s 1s linear infinite; 
} 
           
@keyframes slide {      
  50% {     
    -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%); 
  } 
}  

/*changing text*/

#changeText {
	position: relative; 
	color: black;
  font-size: .25em; 
  margin-left: 50px;
}


/*icons*/

#icons {
	position: relative;
}

.icon {
	display: inline;
	height: 70px; 
	width: 70px; 

}

/*links*/

ul {
	position: relative;
	list-style-type: none; 
	font-size: 20px; 
	color: black;
}

li {
	display: inline; 
	padding: 10px;
}

a {
	color: black;
}
/*ABOUT

/*.about {
	text-align: center; 
	width: 100%;
	height: 40em;
	background-color: black; 
	opacity: 0.7;
	color: white;
	font-family: 'Raleway'; 
}

.me {
	margin-top: 8em;
	padding-top: 2em;
	font-family: 'Oleo Script'; 
}

.ani_pic {
	border: 7px solid white;
	border-radius: 50%;
	height: 10em; 
	width: 8em;
	opacity: none;
}

.homepage-link  {
	color: black;
}

.para {
	padding-left: 5em; 
	padding-right: 5em 
}

/*PROJECTS*/

/*.projects {
	text-align: center; 
	width: 100%;
	height: 40em;
	background-color: black; 
	opacity: 0.7;
	color: white;
	font-family: 'Raleway'; 
}

.pro {
	margin-top: 8em;
	padding-top: 2em;
	font-family: 'Oleo Script'; 

}

.project {
	height: 10em; 
	margin: 2em;
}

.project:hover {
	opacity: 1.0;
}

.project1 {
	float: left;
	margin: auto;
}

.project-link {
	text-decoration: none; 
	font-family: 'Oleo Script'; 
	color: white;
}

.column {
	float: left;
	width: 29%; 
	height: 100%;
	padding-right: 2%;	
	padding-left: 2%; 
}

.row {
	clear: both; 
}

#top {
	height: 4em;
	display: block;
  margin-left: auto;
  margin-right: auto; 
  cursor: pointer;
}

#thanks {
	text-align: center; 
	font-family: 'Oleo Script'; 
	font-size: 2em; 
	color: white;
}
*/
/*CLIPS*/

/*.clips {
	text-align: center; 
	font-family: 'Raleway'; 
	background: url(../images/pattern.png);
	width: 100%;
	height: auto;
}

.container {
	background: #0079BB; 
	opacity: 0.9;
	width: 60%;
	margin-right: auto; 
	margin-left: auto; 
	margin-top: 2em; 
	margin-bottom: 2em; 
}

.clips-text {
	font-family: 'Oleo Script'; 
	padding-top: 1em; 
}

a {
	font-family: 'Oleo Script'; 
	text-decoration: none; 
	color: white;
}

.writing-home {
	color: black;
}
*/



