@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Chivo:900);
@import url(https://fonts.googleapis.com/css?family=Russo+One|Nunito|Righteous|Acme|Comfortaa);

.name {
  padding: 40px;
  color: #5f6c7a;
  text-align: center; 
  font-family: "Chivo", Serif; 
  font-weight: 700;
  font-size: 225px; 
	-webkit-background-clip: text;
	color: white;
	-webkit-text-fill-color: transparent;
	background-color:#FFF;
	background-image: 
	-webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363));
	background-image: 
	-webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79); 
	background-image: 
	-moz-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
	background-image: 
	-ms-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79); 
	background-image: 
	-o-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
}

.text {
	text-align: center; 
}

.pronounciation {
	position: fixed;
	left: 0;
	bottom: 0;
}


/*icons*/

#icons {
	position: relative;
  bottom: 0;
  right: 0;
  text-align: center;  
}

.icon {
	display: inline;
	height: 40px;
	width: 40px;
}

/*links*/

ul {
	position: absolute;;
	list-style-type: none;
  font-weight: 600;
	color: black;
  top: 0;
  right: 0;
}

li {
	display: inline;
	padding: 10px;
}

.imgWrap {
  position: relative;
  display: inline;
}

.imgDescription {
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 0;
  right: 0;
  color: #000;
  visibility: hidden;
  opacity: 0;
  
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

/*CLIPS*/

.clips {
	text-align: center;
	font-family: 'Raleway';
}

.clips-text {
	font-family: 'Raley';
	padding-top: 5em;
	border-bottom: grey;
	border-top: grey;
}

.container a {
	font-family: 'sans-serif';
	text-decoration: none;
	color: #bc1326;
	font-weight: 700; 
}

.container p {
	font-size: 15px;
}

.container h3 {
	font-size: 25px;
	color: #5f6c7a;
}

.archive {
	font-size: 15px;
}

.clips-text {
	font-size: 15px;
}

.bigText-json:hover {
	font-size: 20px; 
	font-weight: 700; 
}

