@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Chivo:900);


/*HOMEPAGE*/

/*.title {
  position: relative;
  color: #bc1326;
  padding: 20px 50px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 75px;
}

.title:before {
  background: #bc1326;
  color: white;
  content: 'ANILA';
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 50px;
    -webkit-clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
  clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
  animation: slide 4s 1s linear infinite;
}

@keyframes slide {
  50% {
    -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
  }
}

.lastname {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #bc1326;
  padding-left: 60px;
}*/

/*.hiddenText {
  display: none;
  font-size: 20px;
  color: #82888e;
}

.lastname:hover .hiddenText {
  display: inline;
}
*/
/*.name-container {
  margin: 100px auto;
  width: 500px;
  padding-left: 200px;
}
*/
/*icons*/

div.container {
	width: 1100px;
}

#icons {
	position: relative;
  bottom: 0;
  right: 0;
  text-align: center; 
  
}

.icon {
	display: inline;
	height: 25px;
	width: 25px;
}


/*links*/

ul {
	position: absolute;;
	list-style-type: none;
	font-size: 15px;
  font-weight: 600;
	color: black;
  top: 0;
  right: 0;
}

li {
	display: inline;
	padding: 10px;
}

a {
	color: black;
}

/*ABOUT SECTION*/

.about {
	/*background-color: #f6f6f6;*/
	font-family: 'sans-serif';
}

.about-me-json {
  font-size: 15px;
}

pre {
	width: 1100px;
}


pre:hover {
	-webkit-background-clip: text;
	color: white;
	-webkit-text-fill-color: transparent;
	background-color:#FFF;
	background-image: 
	-webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363));
	background-image: 
	-webkit-linear-gradient(left,#ea8711,#d96363,#d64d4d,#ffd632,#660000); 
	background-image: 
	-moz-linear-gradient(left,#ea8711,#d96363,#d64d4d,#ffd632,#660000);
	background-image: 
	-ms-linear-gradient(left,#ea8711,#d96363,#d64d4d,#ffd632,#660000); 
	background-image: 
	-o-linear-gradient(left,#ea8711,#d96363,#d64d4d,#ffd632,#660000);
}

.name {
  padding: 25px;
  color: #5f6c7a;
  text-align: center; 
  font-weight: 700;
}

.name:hover {
	-webkit-background-clip: text;
	color: white;
	-webkit-text-fill-color: transparent;
	background-color:#FFF;
	background-image: 
	-webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363));
	background-image: 
	-webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79); 
	background-image: 
	-moz-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
	background-image: 
	-ms-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79); 
	background-image: 
	-o-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
}


/*PROJECTS*/

/*.projects {
	width: 100%;
	color: white;
	font-family: 'sans-serif';
  margin-top: 100px;
  margin-bottom: 500px;
}

.pro {
  color: #5f6c7a;
}

.project {
	height: 10em;
	margin: 2em;
}

.project:hover {
	opacity: 0.5;
}

.project1 {
	float: left;
	margin: auto;
}

.project-link {
	text-decoration: none;
	font-family: 'sans-serif';
	color: #bc1326;
  display: inherit;
}

.column {
	float: left;
	width: 29%;
	height: 100%;
	padding-right: 2%;
	padding-left: 2%;
  color: black;
  text-align: center;
}

.row {
	clear: both;
}*/

/*SCROLL TO TOP BUTTONS*/
/*
#top {
	height: 3em;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#thanks {
	text-align: center;
	font-family: 'Oleo Script';
	font-size: 1em;
	color: #bc1326;
}*/

/*CLIPS*/

.clips {
	text-align: center;
	font-family: 'Raleway';
}

.clips-text {
	font-family: 'Raley';
	padding-top: 5em;
	border-bottom: grey;
	border-top: grey;
}

.container a {
	font-family: 'sans-serif';
	text-decoration: none;
	color: #bc1326;
	font-weight: 700; 
}

.container p {
	font-size: 15px;
}

.container h3 {
	font-size: 25px;
	color: #5f6c7a;
}

.archive {
	font-size: 15px;
}

.clips-text {
	font-size: 15px;
}

